*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.hero-text{
    color: white;
    font-size: 4rem;
    text-align: center;
    text-shadow:
  -2px -2px 0 #000,
   2px -2px 0 #000,
  -2px  2px 0 #000,
   2px  2px 0 #000;
}


.hero-image{
    background-image: url("./Images/Banner.png");
    height: 352px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.two-column{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 25px;
    margin: auto;
    margin-top: 40px;
}

.image{
    width: 100%;
}

.image img {
    width: 100%;
}

p{
    line-height: 1.7;
    font-size: 18px;
    color: #333;
}