/* This sets all the text to this font. */
*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
/* This code controls how the heading looks and the text shadow is used for adding a black outline around the white text */
.hero-text{
    color: white;
    font-size: 4rem;
    text-align: center;
    text-shadow:
  -2px -2px 0 #000,
   2px -2px 0 #000,
  -2px  2px 0 #000,
   2px  2px 0 #000;
}

/* This sets the banner and aligns it with the hero text */
.hero-image{
    background-image: url("./Images/Banner.png");
    height: 352px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* This sets the two column format mainly just the spacing and margins */
.two-column {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 35px;
    width: 100%;
    margin: 50px 0;
    align-items: start;
}

.image {
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

p{
    line-height: 1.7;
    font-size: 18px;
    color: #333;
}

@media (max-width: 900px) {
    .two-column {
        width: 90%;
    }
}
